body {
  background-color: black;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-family: Audiowide, cursive;
  font-size: 25px;
}

/* Jumbotron */
.jumbotron {
  background-image: url(img/hero.jpg);
  background-size: cover;
  height: 550px;
  text-align: center;
  position: relative;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: #e847ae;
  margin-top: 17%;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  margin-bottom: 5%;
}

.jumbotron .display-4 span {
  font-weight: 600;
}

/* Panel */
.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  background-color: #261a7a;
  color: #e847ae;
}

.info-panel img {
  width: 4rem;
  height: 4rem;
}

/* Utility */
.button {
  text-transform: uppercase;
  border-radius: 40px;
  background-color: #261a7a;
}

.button:hover {
  background-color: #3b27ba;
}

/* Scrollbar RGB */
html {
  --scrollbarBG:#3b27ba;
  --thumbBG: #e847ae;
}
body::-webkit-scrollbar {
  width: 20px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* Desktop Version */
@media (min-width: 992px) {
  .navbar-brand, .nav-link, .button {
    color: #e847ae !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .nav-link {
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #13ca91;
    margin-bottom: -3px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 680px;
  }

  .jumbotron .display-4 {
    font-size: 3rem;
  }
}